html {
  font-family: "Inter", sans-serif;
  @apply text-light-900;
}
pre {
  @apply p-6 rounded-2xl md:text-lg !bg-dark-300 overflow-y-auto;
}
pre span {
  font-family: "Roboto Mono", monospace;
}

label {
  @apply font-font-font-medium text-lg;
}
input {
  @apply px-6 py-3 rounded-xl mt-1 mb-3 disabled:bg-dark-300 disabled:text-light-900 disabled:text-opacity-75;
}
strong {
  @apply text-yellow-300;
}
.link {
  @apply flex w-max px-6 py-3 font-semibold bg-transparent hover:bg-dark-300 transition rounded-2xl;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
